# Dépendances
node_modules/

# Base de données
*.db
*.db-journal
*.db-wal
*.db-shm

# Variables d'environnement
.env
.env.local

# Build
dist/
build/
coverage/

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Playwright
playwright-report/
test-results/
